html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
}

body .container {
  margin: 0px auto;
  width: 100%;
}

@media screen and (min-width: 1153px) {
  body .container {
    max-width: 1152px;
    padding: 0px 53px 0px 53px;
  }
}

@media screen and (max-width: 1152px) {
  body .container {
    max-width: 1152px;
    padding: 0px 53px 0px 53px;
  }
}

@media screen and (max-width: 1024px) {
  body .container {
    max-width: 1024px;
    padding: 0px 45px 0px 45px;
  }
}

@media screen and (max-width: 768px) {
  body .container {
    max-width: 768px;
    padding: 0px 35px 0px 35px;
  }
}

@media screen and (max-width: 475px) {
  body .container {
    max-width: 475px;
    padding: 0px 20px 0px 20px;
  }
}

ul, ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  min-width: 144px;
  min-height: 40px;
  padding: 14px 29px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #EC5863;
}

.button:hover, .button:focus {
  background: transparent;
  color: #EC5863;
  border: 1px solid #EC5863;
}

.button-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 9px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #FCFDFE;
  text-align: center;
  margin: 0px;
}

.title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 1.26;
  color: #000000;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}

.subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.08em;
  color: #616161;
  margin: 0px;
}

.header {
  background: #FAFBFD;
}

.header-wrapper {
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    height: 80px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    width: 1000px;
  }
}

.header-logo {
  min-width: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #000000;
}

.header-menu__link:hover, .header-menu__link:focus {
  color: #EC5863;
}

.header-button {
  z-index: 1;
  min-width: 130px;
  min-height: 40px;
  padding: 12px 30px;
  background: #4285F4;
}

.header-button:hover, .header-button:focus {
  color: #4285F4;
  border: 1px solid #4285F4;
  background: #FAFBFD;
}

@media screen and (max-width: 767px) {
  .header-button {
    display: none;
  }
}

.header-buttonBurger {
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 8;
}

@media screen and (min-width: 767px) {
  .header-buttonBurger {
    display: none;
  }
}

.header-buttonBurger .header-buttonBurger__close {
  fill: #000;
  display: none;
}

.header-buttonBurger.is-open .header-buttonBurger__close {
  display: block;
  fill: #000;
}

.header-buttonBurger.is-open .header-buttonBurger__burger {
  display: none;
}

.header-menu {
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 60px;
  }
  .header-menu .header-menu__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .header-menu {
    margin-left: 182px;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 7;
    display: none;
    width: 100%;
    height: auto;
    background-color: #FAFBFD;
    text-align: center;
  }
  .header-menu.is-open {
    display: block;
  }
  .header-menu .header-menu__item {
    margin-bottom: 20px;
  }
  .header-menu .header-menu__item:first-child {
    margin-top: 20px;
  }
}

.hero {
  background: #FAFBFD;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

@media screen and (max-width: 1023px) {
  .hero-content {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  .hero-content {
    margin: 127px 0px 0px 18px;
  }
}

.hero-title {
  max-width: 497px;
  margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 1023px) {
  .hero-title {
    margin-right: auto;
    margin-left: auto;
  }
}

.hero-subtitle {
  max-width: 375px;
  margin: 0px 0px 27px 0px;
}

@media screen and (max-width: 1023px) {
  .hero-subtitle {
    margin-right: auto;
    margin-left: auto;
  }
}

.hero-button:hover, .hero-button:focus {
  background: #FAFBFD;
}

.hero-title__accent {
  color: #4285F4;
}

.hero-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 148px 0px 49px 0px;
}

@media screen and (max-width: 1023px) {
  .hero-video {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .hero-video {
    margin: 30px 0px 30px 0px;
  }
}

.hero-video__img {
  width: 44px;
  height: 44px;
  margin-right: 12px;
}

.hero-video__paragraf {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.26;
  letter-spacing: 0.08em;
  color: #B0B0B0;
  margin: 0px 0px 6px 0px;
}

.hero-video__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 1.26;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
  margin: 0px;
}

.hero-img {
  max-width: 100%;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1152px) {
  .hero-img {
    margin-bottom: 115px;
  }
}

.hero-figura1 {
  position: absolute;
  left: 857px;
  top: -114px;
  z-index: 0;
  width: 100%;
  max-width: 295.29px;
  min-height: 700px;
  background: #EC5863;
  border-radius: 30px 0px 0px 30px;
}

@media screen and (max-width: 1151px) {
  .hero-figura1 {
    display: none;
  }
}

.safe {
  padding: 0px 0px 30px 0px;
}

@media screen and (min-width: 1152px) {
  .safe {
    padding: 0px 0px 66px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .safe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.safe-decor {
  position: relative;
}

.safe-img {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .safe-img {
    margin-top: 106px;
    margin-left: 87px;
  }
}

.safe-figure1, .safe-figure2, .safe-figure3 {
  width: 100%;
  position: absolute;
  z-index: 0;
  background: #EC5863;
}

@media screen and (max-width: 1151px) {
  .safe-figure1, .safe-figure2, .safe-figure3 {
    display: none;
  }
}

.safe-figure1 {
  max-width: 147px;
  min-height: 147px;
  left: 48px;
  top: 78px;
  border-radius: 30px;
}

.safe-figure2 {
  max-width: 77px;
  min-height: 77px;
  left: 309px;
  top: 436px;
}

.safe-figure3 {
  max-width: 77px;
  min-height: 77px;
  left: 80px;
  top: 543px;
  border-radius: 30px;
}

@media screen and (max-width: 1023px) {
  .safe-content {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .safe-content {
    margin: 131px 0px 0px 52px;
  }
}

@media screen and (min-width: 1152px) {
  .safe-content {
    margin: 231px 0px 0px 152px;
  }
}

.safe-title {
  max-width: 379px;
  margin: 0px 0px 11px 0px;
}

@media screen and (max-width: 1023px) {
  .safe-title {
    margin-right: auto;
    margin-left: auto;
  }
}

.safe-accent {
  color: #EC5863;
}

.safe-subtitle {
  max-width: 363px;
  margin: 0px 0px 28px 0px;
}

@media screen and (max-width: 1023px) {
  .safe-subtitle {
    margin-right: auto;
    margin-left: auto;
  }
}

.talk {
  background: #FAFBFD;
  padding: 10px 0px 10px 0px;
}

@media screen and (min-width: 1024px) {
  .talk {
    padding: 53px 0px 93px 0px;
  }
}

.talk-block {
  position: relative;
  margin-top: 51px;
}

.talk-figure1, .talk-figure2, .talk-figure3 {
  width: 100%;
  position: absolute;
  z-index: 0;
  background: #EC5863;
}

@media screen and (max-width: 1151px) {
  .talk-figure1, .talk-figure2, .talk-figure3 {
    display: none;
  }
}

.talk-figure1 {
  max-width: 65.75px;
  min-height: 65.75px;
  left: 178px;
  top: 71px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.talk-figure2 {
  max-width: 96.96px;
  min-height: 96.96px;
  left: 416px;
  top: -40px;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.talk-figure3 {
  max-width: 127.47px;
  min-height: 127.47px;
  left: 776px;
  top: -1px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.talk-row {
  position: relative;
  max-width: 654px;
  min-height: 117px;
  margin: 0px auto;
  z-index: 1;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.talk-column {
  text-align: center;
}

.talk-column__paragraf, .talk-column__subparagraf {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
}

.talk-column__paragraf {
  font-size: 36px;
  line-height: 1.194;
  letter-spacing: 0.14em;
  color: #EC5863;
  margin: 0px 0px 8px 0px;
}

@media screen and (max-width: 425px) {
  .talk-column__paragraf {
    font-size: 20px;
  }
}

.talk-column__subparagraf {
  font-size: 11px;
  line-height: 1.18px;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
  margin: 0px;
}

@media screen and (max-width: 425px) {
  .talk-column__subparagraf {
    font-size: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .talk-wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .talk-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.talk-content {
  margin: 30px 0px 0px 0px;
}

@media screen and (min-width: 1024px) {
  .talk-content {
    margin: 131px 0px 0px 39px;
  }
}

.talk-title {
  max-width: 393px;
  margin: 0px auto 11px auto;
}

.talk-title__accent {
  color: #4285F4;
}

.talk-subtitle {
  max-width: 363px;
  margin: 0px auto 26px auto;
}

.talk-video {
  width: 100%;
  max-width: 560px;
  margin: 30px 0px 0px 0px;
}

@media screen and (min-width: 1024px) {
  .talk-video {
    margin: 65px 0px 0px 86px;
  }
}

.advantage {
  position: relative;
  padding: 40px 0px 40px 0px;
}

@media screen and (min-width: 1024px) {
  .advantage {
    padding: 81px 0px 75px 0px;
  }
}

.advantage-figure1, .advantage-figure2, .advantage-figure3, .advantage-figure4 {
  width: 100%;
  position: absolute;
  z-index: 0;
  background: #EC5863;
}

@media screen and (max-width: 1151px) {
  .advantage-figure1, .advantage-figure2, .advantage-figure3, .advantage-figure4 {
    display: none;
  }
}

.advantage-figure1 {
  max-width: 65.75px;
  min-height: 65.75px;
  left: 15px;
  top: 245px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.advantage-figure2 {
  max-width: 96.96px;
  min-height: 96.96px;
  left: 267px;
  top: 43px;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.advantage-figure3 {
  max-width: 127.47px;
  min-height: 127.47px;
  left: 614px;
  top: 171px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.advantage-figure4 {
  max-width: 65.75px;
  min-height: 65.75px;
  left: 965px;
  top: -35px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.advantage-title, .advantage-subtitle {
  text-align: center;
}

.advantage-subtitle {
  max-width: 600.9px;
  margin: 0px auto;
}

.advantage-title {
  margin-bottom: 15px;
}

.advantage-title__accent {
  color: #EC5863;
}

.advantage-decor {
  position: relative;
}

.advantage-row {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

@media screen and (min-width: 1024px) {
  .advantage-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 64px;
  }
}

.advantage-column {
  width: 278.17px;
  padding: 37px 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .advantage-column:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .advantage-column:not(:last-child) {
    margin-right: 72px;
  }
}

.advantage-paragraf, .advantage-subparagraf {
  font-family: inherit;
  font-style: normal;
  line-height: 1.385;
  letter-spacing: 0.08em;
}

.advantage-paragraf {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin: 0px 0px 7px 0px;
}

.advantage-subparagraf, .advantage-subparagraf--width {
  margin: 0px auto 0px auto;
}

.advantage-subparagraf {
  max-width: 227.27px;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.08em;
  color: #616161;
}

.advantage-subparagraf--width {
  max-width: 239px;
}

.advantage-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
}

.footer {
  padding: 0px 0px 41px 0px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-img:not(:last-child) {
  margin-right: 56px;
  margin-left: 9.5px;
}
/*# sourceMappingURL=main.css.map */