.advantage{
    position: relative;
    padding: 40px 0px 40px 0px;
    @media screen and (min-width: 1024px) {
            padding: 81px 0px 75px 0px;
        }
}

.advantage-figure1, .advantage-figure2, .advantage-figure3, .advantage-figure4{
    width: 100%;
    position: absolute;
    z-index: 0;
    background: $color_accent;
    @media screen and (max-width: 1151px) {
        display: none;
        }
}

.advantage-figure1 {
    max-width: 65.75px;
    min-height: 65.75px;
    left: 15px;
    top: 245px;
    border-radius: 16px;
    transform: rotate(-30deg);
}

.advantage-figure2 {
    max-width: 96.96px;
    min-height: 96.96px;
    left: 267px;
    top: 43px;
    border-radius: 30px;
    transform: rotate(105deg);
}

.advantage-figure3 {
    max-width: 127.47px;
    min-height: 127.47px;
    left: 614px;
    top: 171px;
    border-radius: 30px;
    transform: rotate(-30deg);
}

.advantage-figure4 {
    max-width: 65.75px;
    min-height: 65.75px;
    left: 965px;
    top: -35px;
    border-radius: 16px;
    transform: rotate(-30deg);
}

.advantage-title, .advantage-subtitle{
    text-align: center;
}
.advantage-subtitle{
    max-width: 600.9px;
    margin: 0px auto;

}

.advantage-title {
    margin-bottom: 15px;
}

.advantage-title__accent{
    color: $color_accent;
}

.advantage-decor{
    position: relative;
}

.advantage-row {
    position: relative;
    z-index: 1;
    margin-top: 30px;

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        }
}

.advantage-column {
    width: 278.17px;
    padding: 37px 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background: $color_white;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    
    @media screen and (max-width: 768px) {
        &:not(:last-child){
            margin-bottom: 20px;
            }
        }

    @media screen and (min-width: 1024px) {
        &:not(:last-child){
            margin-right: 72px;
            }
        }

    }

.advantage-paragraf, .advantage-subparagraf{
    font-family: inherit;
    font-style: normal;
    line-height: 1.385;
    letter-spacing: 0.08em;
}

.advantage-paragraf{
    font-size: 16px;
    font-weight: bold;
    color: $color_black;

    margin: 0px 0px 7px 0px;  
    
}

.advantage-subparagraf, .advantage-subparagraf--width{
    margin: 0px auto 0px auto;
}

.advantage-subparagraf{
    max-width: 227.27px;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.08em;
    color: $color_average;
}
.advantage-subparagraf--width{
    max-width: 239px;
}

.advantage-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}