.footer {
    @media screen and (max-width: $mobile768) {
        padding: 25px 0px 40px 0px;
        }
        padding: 75px 0px 47px 0px;

}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-img {
    @media screen and (max-width: $mobile768) {
        margin-top: 0px;
        }
    margin-top: 335px;
    &:not(:last-child){
        margin-right: 56px;
        margin-left: 9px;
    }
}