.footer {
    padding: 0px 0px 41px 0px;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-img {
    &:not(:last-child){
        margin-right: 56px;
        margin-left: 9.5px;
    }
}