.header {
  background: $color_light; 
}

.header-wrapper{
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
      height: 80px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 1000px;
  }
}

.header-logo{
  min-width: 138px;
  display: flex;
  align-items: center;    
}


.header-menu__link{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  
  color: $color_black;

  &:hover,
  &:focus {
    color: $color_accent;
}
}

.header-button {
  z-index: 1;

  min-width: 130px;
  min-height: 40px;
  padding: 12px 30px;

  background: $color_accent2;

  &:hover,
  &:focus {
    color: $color_accent2;
    border: 1px solid $color_accent2;
    background: $color_light;
}   
@media screen and (max-width: 767px) {
display: none;
}

}

// Mobile menu
.header-buttonBurger{
width: 22px;
height: 22px;
padding: 0px;
border: none;
background-color: transparent;

position: relative;
z-index: 8;
@media screen and (min-width: 767px) {
  display: none;
}

.header-buttonBurger__close {
  fill: #000;
  display: none;
}
}


.header-buttonBurger.is-open .header-buttonBurger__close {
display: block;
fill: #000;
}

.header-buttonBurger.is-open .header-buttonBurger__burger {
display: none;
}

.header-menu {
padding: 0px;
margin: 0px;
              
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 60px;
    .header-menu__item {
      &:not(:last-child){
       margin-right: 30px;}
       }
  }
  @media screen and (min-width: 1000px) {
    margin-left: 182px;
  } 

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 7;

    display: none;
    width: 100%;
    height: auto;
    background-color: $color_light; ;

    text-align: center;
    
    &.is-open {
      display: block;
    }

    .header-menu__item {
      &:first-child{
        margin-top: 20px;
         }
       margin-bottom: 20px;}
  }
              
}
