.hero {
    background: $color_light;
    // min-height: 586px;
    @media screen and (max-width: 1024px) {
        padding-top: 20px;
        padding-bottom: 30px;
        }
}

.hero-wrapper{
    @media screen and (min-width: 1000px) {
        display: flex;
        align-items: center;
        position: relative;
        }
}


.hero-content{
    
    @media screen and (max-width: 1023px) {

        text-align: center;
        }
    @media screen and (min-width: 1025px) {
        margin: 127px 0px 0px 18px;
        }
    
}

.hero-title{
    max-width: 497px;
    margin: 0px 0px 10px 0px;
    @media screen and (max-width: 1023px) {
        margin-right: auto;
        margin-left: auto;
        }

}

.hero-subtitle{
    max-width: 375px;
    margin: 0px 0px 27px 0px;
    @media screen and (max-width: 1023px) {
        margin-right: auto;
        margin-left: auto;
        }
}

.hero-button{
    &:hover,
    &:focus {
    background: $color_light;
    }
}

.hero-title__accent{
    color:$color_accent2;
}

.hero-video {
    display: flex;
    
    align-items: center;
    margin: 148px 0px 49px 0px;
    @media screen and (max-width: 1023px) {
        justify-content: center;
        }
    @media screen and (max-width: 1024px) {
        margin: 30px 0px 30px 0px;
        }
}

.hero-video__img {
    width: 44px;
    height: 44px;
    margin-right: 12px;
}

.hero-video__paragraf {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.26;
    letter-spacing: 0.08em;
    color: $color_medium;

    margin: 0px 0px 6px 0px;
}

.hero-video__text {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 1.26;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: $color_black;

    margin: 0px;
}

.hero-img{
    max-width: 100%;
    z-index: 1;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1152px) {
        margin-bottom: 115px;
        }
}


.hero-figura1{
    position: absolute;
    left: 857px;
    top: -114px;
    z-index: 0;
    width: 100%;
    max-width: 295.29px;
    min-height: 700px;
    background: $color_accent;
    border-radius: 30px 0px 0px 30px;
    @media screen and (max-width: 1151px) {
        display: none;
        }
}