.safe {
    padding: 0px 0px 30px 0px ;
    @media screen and (min-width: 1152px) {
        padding: 0px 0px 66px 0px ;
        }


}
.safe-wrapper{

@media screen and (min-width: 1024px) {
    display: flex;
    }
}

.safe-decor{
    position: relative;
}

.safe-img {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1024px) {
        margin-top: 106px;
        margin-left: 87px;
        }
    
}


.safe-figure1, .safe-figure2, .safe-figure3{
    width: 100%;
    position: absolute;
    z-index: 0;
    background: $color_accent;
    @media screen and (max-width: 1151px) {
        display: none;
        }
}

.safe-figure1 {
    max-width: 147px;
    min-height: 147px;
    left: 48px;
    top: 78px;
    border-radius: 30px;

}

.safe-figure2 {
    max-width: 77px;
    min-height: 77px;
    left: 309px;
    top: 436px;


}

.safe-figure3 {
    max-width: 77px;
    min-height: 77px;
    left: 80px;
    top: 543px;
    border-radius: 30px;

}
.safe-content {
    @media screen and (max-width: 1023px) {
         text-align: center;
        }
        @media screen and (min-width: 1024px) {
            margin: 131px 0px 0px 52px;
            }
    @media screen and (min-width: 1152px) {
        margin: 231px 0px 0px 152px;
        }
    
}

.safe-title {
    max-width: 379px;
    margin: 0px 0px 11px 0px;
    @media screen and (max-width: 1023px) {
        margin-right: auto;
        margin-left: auto;
        }
}

.safe-accent{
    color: $color_accent ;
}

.safe-subtitle{
    max-width: 363px;
    margin: 0px 0px 28px 0px ;
    @media screen and (max-width: 1023px) {
        margin-right: auto;
        margin-left: auto;
        }
}
